:root {
  --main-color: #71b350;
  --bg-gradiant: linear-gradient(45deg, rgba(17, 153, 142, 1) 35%, rgba(56, 239, 125, 1) 100%);
  --light-green: #e3fdd6;
  --warning: #e31837;
  --purple: #8879f2;
  --blue: #3a66ff;
}

html * {
  font-family: "Roboto", sans-serif;
  color: #404040;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

input {
  font-size: 1rem;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
}

button {
  display: inline-block;
  border: none;
  text-decoration: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}

@media (max-width: 700px) {

  .matchesContainer,
  .navbar ul,
  .LiveWatch {
    margin: 0 auto;
    width: 85%;
  }

  /* .LiveWatch .playersPredictions .playerPrediction {
    flex-grow: 1.155;
  } */
}

@media (min-width: 700px) {

  .matchesContainer,
  .navbar ul,
  .LiveWatch {
    margin: 0 auto;
    max-width: 700px;
  }

  /* .LiveWatch .playersPredictions .playerPrediction {
    flex-grow: 1.155;
  } */
}