.livewatchContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 100vh; */
}

.livewatchContainer.dark {
    color: white;
}

.livewatchList {
    width: calc(100% - 2rem)
}