.matchesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 100vh; */
}

.matchesGameweek.dark,
.predictionsMessage.dark {
    color: white;
}

.contentWrapper {
    width: 100%;
    margin: 0 1rem 1rem;
}

.matchesList {
    width: 100%;
}

.predictionsMessage {
    padding: 1rem;
    background-color: var(--light-green);
    border-radius: 4px;
}

.predictionsMessage.dark {
    background-color: var(--dark-gray);
}

.predictionsMessage a {
    text-decoration: none;
    color: var(--blue);
}

.predictionsMessage a:hover {
    text-decoration: underline;
    color: var(--dark-blue);
}

.matchesContainer .loading {
    height: 100vh;
}

.submitButton {
    background: #3a66ff;
    border: none;
    color: #ffffff;
    border-radius: 4px;
    width: 100%;
    font-size: 1rem;
    margin-bottom: 1rem;
    padding: 10px 0 10px 0;
}

.submitButton.disabled {
    background-color: var(--disabled-gray);
}

.submitButton.disabled.dark {
    background-color: var(--primary-gray);
    color: var(--medium-gray);
}


.submitButton.disabled:hover {
    cursor: not-allowed;
}

.submitButton:hover {
    cursor: pointer;
}