.matchesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.matchesList {
    width: 100%;
}

.predictionsMessage {
    padding: 1rem;
    background-color: var(--light-green);
    border-radius: 4px;
}

.predictionsMessage a {
    text-decoration: none;
    color: var(--blue);
}

.predictionsMessage a:hover {
    text-decoration: underline;
    color: var(--dark-blue);
}