.player {
    display: grid;
    grid-template-columns: 1fr 40px 1fr;
    padding-bottom: 1rem;
}

.player:last-child {
    padding-bottom: 0;
}

.playersScorePrediction {
    justify-self: center;
    color: #646464;
}

.playerName {
    display: grid;
    grid-template-columns: 20px auto;
    align-items: center;
    color: #646464;
}

.userName {
    grid-column: 2;
    margin-left: .5rem;
}

.playerName.dark,
.playersScorePrediction.dark {
    color: white;
}

.playerName img {
    margin-right: 1rem;
}