.matchCard {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin-bottom: 1rem;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.matchCardDate {
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    color: #646464;
    border-bottom: 1px solid #e6e6e6;
}

.submitButton {
    background: #3a66ff;
    border: none;
    color: #ffffff;
    border-radius: 4px;
    width: 100%;
    font-size: 1rem;
    margin-bottom: 1rem;
    padding: 10px 0 10px 0;
}

.submitButton:hover {
    cursor: pointer;
}