.livewatchCard {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    width: 100%;
    margin-bottom: 1rem;
}

.livewatchCard.dark {
    background: var(--dark-gray);
}

.livewatchCard .kickoffLive {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
}

.livewatchCard .kickoffLive .time {
    color: #646464;
}

.livewatchCard .kickoffLive .time.dark {
    color: white;
}