.player {
    display: grid;
    grid-template-columns: 1fr 40px 1fr;
    padding-bottom: 1rem;
}

.player:last-child {
    padding-bottom: 0;
}

.playerName {
    padding-left: 2rem;
    color: #646464;
}

.playersScorePrediction {
    justify-self: center;
    color: #646464;
}

.playerName {
    display: flex;
    align-items: center;
}

.playerName.dark,
.playersScorePrediction.dark {
    color: white;
}

.playerName img {
    margin-left: 1rem;
}