.livewatchCard {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin-bottom: 1rem;
    padding: 1rem;
}

.livewatchCard.dark {
    background: var(--dark-gray);
}

.kickoffLive {
    display: flex;
    justify-content: space-between;
}

.time {
    color: #646464;
    margin-bottom: 1rem;
}

.time.dark {
    color: white;
}